.formStyle {
    background-color: red;
    width: 300px;
    padding-left: 70px;
    border-radius: 8px;
    height: 200px;
}

.signInContainer {
    background-color: blue;
    display: flex;
    flex-direction: column;
}